* @quantinuum-dev/guppyft

# Only users with release permissions are able to approve PRs modifying the changelog.
CHANGELOG.md @hsemenenko @maximilianruesch @ss2165 @PabloAndresCQ @cqc-alec @sjdilkes
